DB_HOST=
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=finance-hub

JWT_SECRET=your_secret_key
PORT=3000
ENV=development
FRONTEND_URL=http://localhost:3001

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=noreply@finance-hub.example.com

ENCRYPTION_KEY=erPG/znrQREL/+arNS8Ac+1mU9RH+PoYkC5/uuRQUUQ=
TELEGRAM_BOT_TOKEN=your_token
TELEGRAM_CHAT_ID=your_chatid
